@import "../../../styles/styles.scss";

.container {
    padding: 80px 181px;
    color: #000538;

    @include responsive("Laptop") {
        padding: 80px 80px;
    }

    @include responsive("Tablet") {
        padding: 56px 24px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .tittle {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 651px;
            margin-bottom: 40px;

            @include responsive("Tablet") {
                width: 100%;
            }

            h3 {
                font-size: 32px;
                font-weight: 600;
                line-height: 35px;
                letter-spacing: 0em;
                text-align: center;
                margin: 0 0 16px 0;
            }

            h5 {
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
                margin: 0 0 8px 0;
                color: #6F4EF5;
            }

            h6 {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                margin: 0;
            }
        }

        .graficOne {
            display: flex;
            flex-direction: column;
            width: 100%;

            .divVacio {
                display: flex;
                flex-direction: row;
                width: 100%;

                @include responsive("Tablet") {
                    margin-bottom: 78px;
                }

                .div1 {
                    border-bottom: 2px solid #A286FA;
                    border-bottom-right-radius: 80px;
                    margin-left: 80px;
                    width: 50%;
                    height: 60px;
                    position: relative;

                    @include responsive("Tablet") {
                        border-radius: 0;
                        border-right: 2px solid #A286FA;
                        border-bottom: 0;
                    }

                    i {
                        position: absolute;
                        font-size: 35px;
                        color: #A286FA;
                        bottom: -18px;
                        right: 270px;

                        @include responsive("Tablet") {
                            bottom: -32px;
                            right: -18px;
                        }
                    }
                }

                .div2 {
                    width: 50%;
                    height: 40px;
                    margin-right: 80px;
                }
            }

            .cardOne {
                display: flex;
                border-left: 2px solid #A286FA;
                border-bottom: 2px solid #A286FA;
                border-top-left-radius: 80px;
                border-bottom-left-radius: 80px;
                margin-right: 80px;
                position: relative;

                @include responsive("Tablet") {
                    flex-direction: column-reverse;
                    border-left: 0;
                    border-bottom: 0;
                    margin: 0;
                    gap: 32px;
                }

                i {
                    font-size: 35px;
                    color: #A286FA;
                    position: absolute;
                    bottom: -17px;
                    right: 320px;

                    @include responsive("Tablet") {
                        display: none;
                    }
                }

                .cardOneText {
                    width: 352px;
                    margin: 60px 34px 60px 113px;

                    @include responsive("Tablet") {
                        width: 100%;
                        margin: 0;
                    }

                    h4 {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin: 0 0 16px 0;
                        @include responsive("Tablet"){
                            text-align: center;
                        }
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin: 0;
                        @include responsive("Tablet"){
                            text-align: center;
                        }
                    }
                }

                .cardOneImgOne {
                    width: 328px;

                    @include responsive("Tablet") {
                        width: 100%;
                    }

                    img {
                        width: 100%;
                    }
                }
            }

            .divFlecha {
                display: none;

                @include responsive("Tablet") {
                    display: flex;
                    margin: 40px 0;

                    .flecha1 {
                        width: 50%;
                        height: 50px;
                        border-right: 2px solid #A286FA;
                        position: relative;

                        i {
                            position: absolute;
                            right: -18px;
                            bottom: -32px;
                            font-size: 35px;
                            color: #A286FA;
                        }
                    }
                }
            }

            .cardTwo {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border-right: 2px solid #A286FA;
                border-top-right-radius: 80px;
                border-bottom-right-radius: 80px;

                @include responsive("Tablet") {
                    flex-direction: column;
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    border-right: 0;
                }

                .cardTwoImgOne {
                    width: 419px;

                    @include responsive("Tablet") {
                        width: 100%;
                    }

                    img {
                        width: 100%;
                    }
                }

                .cardTwoText {
                    width: 322px;
                    margin: 60px 111px 60px 78px;

                    @include responsive("Tablet") {
                        width: 100%;
                        margin: 0;
                    }

                    h4 {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin: 0 0 16px 0;
                        @include responsive("Tablet"){
                            text-align: center;
                        }
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin: 0;
                        @include responsive("Tablet"){
                            text-align: center;
                        }
                    }
                }
            }

            .divVacioTwo {
                display: flex;

                @include responsive("Tablet") {
                    margin-top: 40px;
                }

                .div3 {
                    width: 50%;
                    height: 40px;
                    margin-left: 80px;
                }

                .div4 {
                    width: 50%;
                    height: 80px;
                    border-top: 2px solid #A286FA;
                    border-top-left-radius: 80px;
                    margin-right: 80px;
                    position: relative;

                    @include responsive("Tablet") {
                        height: 50px;
                        border-top: 0;
                        border-top-left-radius: 0;
                        border-left: 2px solid #A286FA;
                    }

                    i {
                        font-size: 35px;
                        color: #A286FA;
                        position: absolute;
                        bottom: -32px;
                        left: -18px;
                    }
                }


            }
        }

        .graficTwo {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 58px 0;

            @include responsive("Tablet"){
                padding: 0;
                margin-top: 40px;
                margin-bottom: 40px;
            }

            h4 {
                margin: 0;
                @include responsive("Tablet"){
                    text-align: center;
                }
            }

            .graficTwoInfo {
                display: flex;
                justify-content: center;
                /* width: 100%; */
                gap: 166px;
                margin: 40px 0 0 0;

                @include responsive("Tablet") {
                    margin-top: 16px;
                    gap: 32px;
                    flex-direction: column;
                    width: 100%;

                }

                .graficTwoText {
                    display: flex;
                    flex-direction: column;
                    width: 225px;
                    gap: 16px;

                    @include responsive("Tablet") {
                        width: 100%;
                    }

                    h4 {
                        margin: 0;
                        @include responsive("Tablet"){
                            text-align: center;
                        }
                    }

                    p {
                        margin: 0;
                        @include responsive("Tablet"){
                            text-align: center;
                        }
                    }
                }

                .graficTwoParrafo {
                    display: flex;
                    align-items: flex-start;
                    width: 345px;
                    gap: 15px;

                    @include responsive("Tablet") {
                        width: 100%;
                    }

                    img {
                        width: 21px;
                    }

                    p {
                        margin: 0;
                    }
                }

            }

            .divVacioThree {
                display: flex;
                margin-bottom: 75px;

                @include responsive("Tablet") {
                    margin-top: 40px;
                }

                .div5 {
                    width: 50%;
                    height: 137px;
                    border-right: 2px solid #A286FA;
                    position: relative;

                    @include responsive("Tablet") {
                        height: 50px;
                    }

                    i {
                        font-size: 35px;
                        color: #A286FA;
                        position: absolute;
                        bottom: -18px;
                        right: -18px;

                        @include responsive("Tablet") {
                            bottom: -32px;
                        }
                    }
                }
            }
        }

        .graficThree {
            display: flex;
            flex-direction: column;
            width: 100%;

            .divVacioFour {
                display: flex;
                flex-direction: row;
                width: 100%;

                .div7 {
                    border-bottom: 2px solid #A286FA;
                    border-bottom-right-radius: 80px;
                    margin-left: 80px;
                    width: 50%;
                    height: 60px;
                    position: relative;

                    @include responsive("Tablet") {
                        border-bottom: 0;
                        border-bottom-right-radius: 0;
                        border-right: 2px solid #A286FA;
                    }

                    i {
                        position: absolute;
                        font-size: 35px;
                        color: #A286FA;
                        bottom: -18px;
                        right: 280px;

                        @include responsive("Tablet") {
                            display: none;
                        }
                    }
                }

                .div8 {
                    width: 50%;
                    height: 40px;
                    margin-right: 80px;
                }
            }

            .threeCardOne {
                display: flex;
                border-left: 2px solid #A286FA;
                border-bottom: 2px solid #A286FA;
                border-top-left-radius: 80px;
                border-bottom-left-radius: 80px;
                /* padding: 60px 113px; */
                margin-right: 80px;
                position: relative;

                @include responsive("Tablet") {
                    flex-direction: column;
                    border-left: 0;
                    border-bottom: 0;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    margin: 0;
                    gap: 64px;
                    margin-top: 24px;
                }

                i {
                    font-size: 35px;
                    color: #A286FA;
                    position: absolute;
                    bottom: -17px;
                    right: 400px;

                    @include responsive("Tablet") {
                        display: none;
                    }
                }

                .threeCardOneText {
                    width: 352px;
                    margin: 60px 34px 60px 153px;

                    @include responsive("Tablet") {
                        width: 100%;
                        margin: 0;
                    }

                    h4 {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin: 0 0 16px 0;
                        @include responsive("Tablet"){
                            text-align: center;
                        }
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin: 0;
                        @include responsive("Tablet"){
                            text-align: center;
                        }
                    }
                }

                .threeCardOneImgOne {
                    width: 328px;

                    @include responsive("Tablet") {
                        width: 100%;
                    }

                    img {
                        width: 100%;
                    }
                }
            }

            .divFlecha{
                @include responsive("Tablet"){
                    display: flex;
                    margin: 40px 0;

                    .flecha1 {
                        width: 50%;
                        height: 50px;
                        border-right: 2px solid #A286FA;
                        position: relative;

                        i {
                            position: absolute;
                            right: -18px;
                            bottom: -32px;
                            font-size: 35px;
                            color: #A286FA;
                        }
                    }
                } 
            }

            #border {
                border-right: 2px solid #A286FA;
                border-top-right-radius: 80px;
                border-bottom-right-radius: 80px;

                @include responsive("Tablet") {
                    border-right: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            .threeCardTwo {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-top: 2px solid #A286FA;
                border-top-left-radius: 80px;
                border-left: 2px solid #A286FA;
                border-bottom-left-radius: 80px;
                margin-right: 80px;
                position: relative;

                @include responsive("Tablet") {
                    border-top: 0;
                    border-top-left-radius: 0;
                    border-left: 0;
                    border-bottom-left-radius: 0;
                    margin: 0;
                    flex-direction: column;
                    gap: 16px;
                    margin-top: 40px;
                }

                i {
                    position: absolute;
                    font-size: 35px;
                    color: #A286FA;
                    top: -17px;
                    left: 170px;

                    @include responsive("Tablet"){
                        display: none;
                    }
                }

                .threeCardTwoImgOne {
                    width: 419px;

                    @include responsive("Tablet"){
                        width: 100%;
                    }

                    img {
                        width: 100%;
                    }
                }

                .threeCardTwoText {
                    width: 322px;
                    margin: 60px 0px 60px 170px;

                    @include responsive("Tablet"){
                        width: 100%;
                        margin: 0;
                    }

                    h4 {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin: 0;
                        @include responsive("Tablet"){
                            text-align: center;
                        }
                    }

                    h6 {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin: 0 0 16px 0;
                        @include responsive("Tablet"){
                            text-align: center;
                        }
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin: 0;
                        @include responsive("Tablet"){
                            text-align: center;
                        }
                    }
                }
            }

            .divVacioFive {
                display: flex;

                @include responsive("Tablet"){
                    margin: 40px 0 40px 0;
                }

                .div9 {
                    width: 50%;
                    height: 40px;
                    margin-left: 80px;
                    border-top: 2px solid #A286FA;
                    position: relative;
                    @include responsive("Tablet"){
                        height: 50px;
                        border-top: 0;
                        border-right: 2px solid #A286FA;
                        margin: 0;
                    }
                    i {
                        font-size: 35px;
                        color: #A286FA;
                        position: absolute;
                        top: -18px;
                        right: -18px;

                        @include responsive("Tablet"){
                            margin: 0;
                            top: inherit;
                            bottom: -32px;
                        }
                    }

                }

                .div10 {
                    width: 50%;
                    height: 80px;
                    @include responsive("Tablet"){
                        height: 50px;
                    }

                }


            }


        }

        #border2 {
            padding: 0;
        }

        button {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;

            width: 201px;
            height: 64px;
            background: #6f4ef5;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            margin-top: 114px;

            @include responsive("Tablet") {
                width: 60%;
                margin-top: 45px;
            }

            @include responsive("phone-L") {
                /* width: 328px; */
                width: 100%;
                height: 54px;
                margin: auto;
                margin: 45px auto 0;
            }
        }

        button:hover {
            background: #a493ff;
            transition: 1s;
        }
    }
}