@import "../../../styles/styles.scss";

.background {
  width: 100%;
  background-color: #090e28;
  display: flex;
  align-items: center;
  position: relative;
  @include responsive("phone") {
    height: 671.5px;
  }
}

.container2 {
  width: 100%;
  margin: 72px 115px;
  @include flex-row-between;
  position: relative;
  @include responsive("phone") {
    height: 559.5px;
    margin: 56px 21.5px;
    width: 90%;
    position: relative;
    @include flex-column-start-align;
  }
}

.dashboard1 {
  width: 60%;
  min-width: 100px;
  margin-left: 3.5%;
  @include responsive("phone") {
    margin: 0;
    width: 103%;
    position: relative;
    top:36%;
  }
}

.content {
  @include flex-column-start-align;
  width: 31.5%;
  gap: 32px;
  @include responsive("phone") {
    width: 103%;
    margin-left: 0px;
  }
}
.contentTitle {
  text-align: left;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  color: $white;
  margin: 0;
  @include responsive("phone") {
    font-size: 32px;
    font-weight: 600;
    line-height: 35px;
    position: relative;
    top:-110%
  }
}

.dashboardfloat1 {
  left: 0;
  bottom: 0;
  z-index: auto;
  width: 14%;
  position: absolute;
  margin-bottom: 14px;
  @include box-shadow-float;
  @include responsive("phone") {
    top: 56%;
    left: 3%;
    width: 25%;
  }
  /* Animation */
  @include floating;
}

.imgbkgr2 {
  width: 9%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotateX(180deg);
  @include responsive("phone") {
    display: none;
  }
}
