.card {
    width: 263px;
    min-width: 230px;
    height: 388px;
    margin: 8px 8px;
    border-radius: 4px 4px 4px 4px;
  }
  .img {
    width: 263px;
    min-width: 230px;
    height: 200px;
  }
  .title {
      margin: auto;
    font-size: 1.25rem;
    color: #000538;
  }
  .text {
    font-size: 1rem;
    color: #6e7191;
    text-align:left;
    margin: 10px 23px;
  }
  