.card {
  width: 263px;
  min-width: 230px;
  height: 388px;
  margin: 8px 8px;
  border-radius: 4px 4px 4px 4px;
}
.img {
  width: 100%;
  min-width: 230px;
  height: 200px;
}
.title {
  margin: auto;
  font-size: 1.25rem;
  color: #000538;
}
.text {
  font-size: 1rem;
  color: #6e7191;
  text-align: left;
  margin: 10px 23px;
}

.background2 {
  background-color: red;
}


/* .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 263px;
  min-width: 230px;
  height: 369px; 
  margin: 8px 8px;
  border-radius: 4px 4px 4px 4px;
  position: relative;
}
.img {
  margin-bottom: 35%;
  width: 100%;
  min-width: 230px;
  height: 200px;
  min-height: 164px;
}
.text {
  position: absolute;
  bottom: 0%;
  width: 80%;
  border-radius: 16px;
  text-align: center;
  margin: 24px;
  background-color: #FFFF;
}
.text h6 {
  font-size: 1.25rem;
  color: #000538;
  font-weight: 500;
  margin: 12px 0px 0px;
}
.text p {
  font-size: 1rem;
  color: #6e7191;
}

.text a {
  color: #6f4ef5;
  font-size: 1rem;
}  */
