@import "../../../styles/styles.scss";

.div{
    width: 100%;
    height: 336px;
    background-color: #000538;
    display: flex;
    margin-top: 72px;
    position: relative;
    top: 142px;
}

.divIMG{
    width: 524px;
    height: 440px;
    margin-left: 90px;
    position: relative;
    bottom: 104px;
}


.divIMG .imgPrincipal{
    height: 440px;
    width:504px;;
}
 

.imgFlotante1{
    position: absolute;
    width: 230.61px;
    height: 159.86px;
    left: 10px;
    top: 200px;
    @include floating;
}

.imgFlotante2{
    position: absolute;
    width: 75px;
    height: 83.41px;
    left: 390px;
    top: 140px;
    @include floating;
}





.grafico{
    width: 10%;
    height: 40%;
    position: absolute;
    left: 90%;
}
.grafico img{
    width: 100%;
    height: 100%;
}

.divText{
    width: 445px;
    height: 205px;
    margin-top: 29px;
    margin-left: 123px;
    text-align: left;
}

.divText h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;
    font-family: 'Inter';
    color: #FFFFFF;
}

.divText p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DCDDEB;
    width: 363px;
}

.divText button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 38px;
    gap: 10px;
    width: 201px;
    height: 64px;
    background: #6F4EF5;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}


@media (max-width: 1200px){
    .grafico{
        width: 7%;
        height: 30%;
        position: absolute;
        left: 93%;
    }

    .divIMG{
        margin-left: 30px;
        bottom: 103px;
    }

    .divText{
            margin-left: 83px;
        }
    .divText {
            margin-right: 130px;
        }
        
    .divText h2{
            font-size: 28px;
       }

.divText p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DCDDEB;
    width: 363px;
}

}

















@media (max-width: 980px){
    .divIMG{
        margin-left: 30px;  
    }

    .divText{
            margin-left: 83px;
        }
        
.divText h2{
    font-size: 28px;
}

.divText p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DCDDEB;
    width: 363px;
  }

 .divText{
    margin-left: 30px;
}
}




@media (max-width: 950px){


    .div{
        display: flex;
        flex-direction: column-reverse;
        height: 721px;
        text-align: center;
        justify-content: center;
    }
 

    .grafico{
        display: none;
    }

    .divText{
        width: 445px;
        height: 205px;
        margin-top: 53px;
        margin-left: 50px;
        margin: 0 auto;
    }
    .divText button{
        width: 100%;
    }
    .divText h2{
        font-size: 32px;
    }

    .divIMG{
        position: relative;
        top: 40px;
        margin: 0 auto;
    }
    
}
















@media (max-width: 550px){
    .div{
        display: flex;
        flex-direction: column-reverse;
        height: 652px;
        text-align: center;
        justify-content: center;
    }

    .divIMG{
        width: 298.96px;
        height: 261px;
        top: 90px;
    }

    .divIMG .imgPrincipal{
        width: 298.96px;
        height: 261px;
    }
    .divText{
        width: 90%;
        position: relative;
        top: -70px;
    }    

    .divText p{
        width: 100%;
      }
      .imgFlotante1{
        width: 147.74px;
        height: 106.15px;
        top: 130px;
      }
      .imgFlotante2{
        width: 44.49px;
        height: 50.02px;
        left: 200px;
        top: 100px;
      }
}

