@import "../../../styles/styles.scss";

.div{
    height: 455px;
    width: 100%;
    background-color: #F7F7FC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px, 90px, 72px, 90px;

    @media (max-width: 800px) {
        height: 480.29px;
      }
}

.div h2{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;
    color: #000538;
    width: 901px;
    text-align: center;
    position: relative;
    top: 42px;
    @media (max-width: 910px) {
        width: 70%;
      }

    @media (max-width: 800px) {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        width: 340px;
      }
}

.divLogos{
    width: 1259px;
    height: 184px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06), 0px 2.4px 3.9px rgba(0, 0, 0, 0.03);
    border-radius: 16px;
    margin-top: 59px;
    @media (max-width: 1300px) {
        width: 90%;
      }
      @media (max-width: 800px) {
        display: none;
      }
}

.divLogos1{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.divLogos1 img{
 width: 18%;
 height: 43px;
}

.divLogos2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.divLogos2 img{
    width: 15%;
    height: 43px;
   }



   .divLogosResponsive{
    display: none;

    @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;
        margin-top: 79px;
      }
   }


   .divLogosResponsiveHijo{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   }

   .divLogosResponsiveHijo img{
    width: 20% !important;
    margin: 25px;

    @media (max-width: 500px) {
      width: 25% !important;
      margin: 15px;
    }
   }