@import "../../../styles/styles.scss";

.companiesFriendly__container {
  @include flex-column-center;
  background: #f7f7fc;
  text-align: center;
}

.companiesFriendly__container--title {
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  width: 778.4px;
  height: 88px;
  background: #f7f7fc;
  @include responsive("tab-land") {
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;
    width: 100%;
    height: 70px;
  }
  @include responsive("phone") {
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;
    width: 100%;
    height: 300px;
  }
  @media (max-width: 320px) {
    height: 100px;
  }
}

.prueba {
  width: 100%;
  background: linear-gradient(
    359.31deg,
    #ffffff 0.7%,
    rgba(255, 255, 255, 0.275035) 33.62%,
    rgba(255, 255, 255, 0.111513) 41.86%,
    rgba(255, 255, 255, 0) 130.33%
  );
  z-index: 9999;
  @include responsive("phone") {
    position: relative;
    top: -200px;
  }
  @media (max-width: 320px) {
    top: 0px
  }
}

.companiesFriendly__container--imgs {
  @include flex-row-around;
  width: 100%;
  margin: 3px 0;
}

strong {
  color: #6f4ef5;
}

.imgCompanies {
  padding: 6px;
  width: 130px;
  margin: 10px 50px;
  height: 130px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  z-index: 10;
  @include responsive("tab-land") {
    width: 80px;
    height: 80px;
    padding: 4px;
    margin: 8px;
  }
  @include responsive("phone") {
    width: 12%;
    height: 12%;
    padding: 2px;
    margin: 8px 5px;
  }
  @media (max-width: 320px) {
    width: 14%;
    height: 14%;
  }
}

.imgCompanies:hover {
  transform: scale(1.05);
  cursor: pointer;
}
