@import "../../styles/styles.scss";

.container {
  display: flex;
  min-height: 100vh;
  background-color: #F7F7FC;
  @include responsive("laptop") {
    flex-direction: column;
    padding: 55px 0px;
   gap: 10px;
   min-height: none;
  }

  .contentform {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 24px 0 0 24px;
    @include responsive("laptop") {
      margin: 0;
      width: 100%;
      gap:10px;
    }

    button {
      border: none;
      background-color: transparent;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      display: flex;
      align-items: center;
      gap: 10px;

      color:#000538;
      cursor: pointer;
      align-items: center;
    }

    .form {
      width: 100%;
      margin: 0;
    }
  }

  .containerImg {
    width: 55%;
    overflow: hidden;
    max-height: 100vh;
    @include responsive("laptop") {
      width: 100%;
    }
    img {
      width: 155%;
    }
  }
}
