@import "../../../styles/styles.scss";

.background {
  width: 100%;
  background-color: $background-gray;
  border: 1px solid $background-gray;
}
.container {
  margin: 72px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include responsive("phone") {
    width: 90%;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 21.5px;
    align-items: flex-start;
  }
}

.container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 48px;
  @include responsive("phone") {
    align-items: flex-start;
  }
}

.h4 {
  text-align: center;
  color: $background-purple;
  margin: 0px 0px 16px;
  font-weight: 600;
  font-size: 32px;
  line-height: 35px;
  @include responsive("phone") {
    font-size: 28px;
    line-height: 34px;
    text-align: left;
  }
}
.text {
  color: #6e7191;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  margin: auto;
  @include responsive("phone") {
    text-align: left;
  }
}
.data {
  //si no le gusta 270px
  width: 330px;
  height: 470px;
}
.pagination {
  display: flex;
}

.carrousel {
  display: none;
  @include responsive("carrousel") {
    display: flex;
    flex-direction: column;
    
    /* justify-content: center;
    align-items: center; */
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 19px;
  justify-content: center;
  @include responsive("carrousel") {
    display: none;
  }
}
