@import "../../../styles/styles.scss";

.div2 {
  width: 100%;
  height: 400px;
  padding: 20px 0px 180px 0px;
  background-color: #000538;
  @include flex-row-around;
  color: white;
  @media (max-width: 1030px) {
    padding: 20px 0 130px 0;
  }
  @media (max-width: 770px) {
    padding: 20px 0 470px 0;
  }
  @include responsive("tablet") {
    padding: 10px 0 10px 0;
    @include flex-column-around;
    height: 720px;
  }
}

.div--row2 {
  margin-left: 50px;
  width: 550px;
  @include flex-column-start2;
  @media (max-width: 1030px) {
    width: 450px;
  }
  @media (max-width: 770px) {
    width: 100%;
  }

  h1 {
    font-weight: 700;
    font-size: 48px;
    @media (max-width: 1030px) {
      font-size: 40px;
    }
    @include responsive("tablet") {
      width: 326px;
      height: 71px;
      font-size: 32px;
    }
  }

  span {
    height: 72px;
    color: #dcddeb;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 40px;
    @include responsive("tablet") {
      font-size: 16px;
      width: 100%;
      width: 329px;
      height: 96px;
      padding-top: 50px;
    }
  }

  .div--row--hero2 {
    width: 610px;
    height: 581px;
    left: 600px;
    position: relative;
    top: -360px;
    @media (max-width: 1030px) {
      width: 510px;
      height: 480px;
      top: -280px;
      left: 450px;
    }
    @media (max-width: 770px) {
      left: 80px;
      top: 50px;
    }
    @include responsive("tablet") {
      width: 370px;
      height: 340px;
      left: 0px;
      top: 10px;
    }
    @include responsive("phone") {
      display: flex;
      width: 327px;
      height: 284.25px;
      left: 0;
      top: 30px;
    }
    @media (max-width: 320px) {
      width: 300px;
      height: 280px;
      top: 30px;
    }
  }
}

.grafico2 {
  width: 10%;
  height: 20%;
  position: absolute;
  left: 90%;

  @media (max-width: 1200px) {
    width: 7%;
    height: 30%;
    position: absolute;
    left: 93%;
  }
}
.grafico2 img {
  position: relative;
  top: -20px;
  width: 100%;
}
