@import "../../../styles/styles.scss";

.container {
  margin: 72px 65px 72px;
  display: flex;
  flex-direction: column;
  @include responsive("phone") {
    margin: 56px 0px 56px 20px;
  }
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-bottom: 36px;
  @include responsive("phone") {
    gap:16px;
  }
}
.h4 {
  color: #000538;
  font-weight: 600;
  font-size: 2rem;
  margin: 10px 0px;
  @include responsive("phone") {
    font-size: 28px;
    margin: 0;
  }
}
.p {
  font-size: 1rem;
  color: #6e7191;
  text-align: left;
  margin-bottom: 0;
  @include responsive("phone") {
    margin: 0;
  }
}

.textButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  @include responsive("carrousel") {
    display: none;
  }
}

.buttons i {
  @include flex-column-center;
  color: #6f4ef5;
}

.buttons button {
  width: 48px;
  height: 48px;
  border: 1px solid #6f4ef5;
  background-color: #ffff;
  border-radius: 4px;
  margin-left: 16px;
  transition-duration: 0.4s;
}

.buttons button:hover {
  background-color: #6f4ef5;
  i {
    color: #ffff;
  }
}
.container{
  display:flex;
  flex-direction: column;
}
.carrousel {
  width: 100%;
}
