@import "../../../styles/styles.scss";

.container {
  width: 100%;
}

.btn {
  width: 100%;
  max-width: 201px;
  min-width: 201px;
  min-height: 64px;
  padding: 20px 38px;
  border-radius: 4px;
  background-color: $button-purple;
  color: $white;
  border: none;
  cursor: pointer;
  font-stretch: 100%;
  @include responsive("phone") {
    max-width: 336px;
    max-height: 54px;
    padding: 15px 24px;
  }
}
