@import "../../../styles/styles.scss";

.CadaArea-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    
   
.swiper-pagination-bullet {
    
    background-color:#201F54;
    height: 10px;
    width: 10px;
    margin-right: 6px;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 100%;
    position: relative;
    top: 25px;
   
    @media (max-width: 900px) {
        background-color: #201F54;
}
}

.swiper-pagination-bullet-active {
    background-color: #6F4EF5;
    opacity: 1;
}
}