@import "../../../styles/styles.scss";

.container {
  padding: 5vw 4.9306vw;
  display: flex;
  flex-direction: row;
  gap: 7.5vw;
  @include responsive("carrousel2") {
    flex-direction: column-reverse;
    gap: 57px;
    align-items: center;
    padding: 56px 23.5px;
  }
  .divImg {
    max-height: 676px;
    min-height: 576px;
    max-width: 483px;
    @include responsive("carrousel2") {
      max-height: 600px;
      min-height: auto;
      max-width: 100%;
    }
    /*     width:33.542vw; */
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    h4 {
      font-weight: 600;
      font-size: 32px;
      line-height: 35px;
      color: #000538;
      margin: 0 0 56px;
      max-width: 330px;
      @include responsive("carrousel2") {
        max-width: 292px;
        min-width: 292px;
      }
      span {
        color: #6f4ef5;
      }
    }
    /* Accordion */
    .accordion {
      width: 100%;
      margin-bottom: 56px;
      @include responsive("carrousel2") {
        margin-bottom: 40px;
      }
      section {
        background-color: #eae6ff;
        margin-bottom: 16px;
        padding: 24px 24px 24px;
        h6 {
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          /* text */
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          color: #000538;
          cursor: pointer;
        }
        span {
          margin: 0;
          margin-left: 20px;
          height: 24px;
        }

        p {
          margin: 0;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #000538;

          overflow: hidden;
        }
        p.phide {
          max-height: 0px;
          padding-top: 0px;
          transition: padding-top 0.6s cubic-bezier(0, 1, 0, 1),
            max-height 0.6s cubic-bezier(0, 1, 0, 1);
        }
        p.pshow {
          padding-top: 16px;
          max-height: 9999px;
          transition: padding-top 0.7s cubic-bezier(0, 1, 0, 1),
            max-height 0.6s cubic-bezier(1, 0, 1, 0);
        }
      }
    }
    .btn {
      font-size: 16px;
      width: 237px;
      @include responsive("carrousel2") {
        width: 100%;
      }
    }
  }
}
