.container {
  margin: 72px 64px 72px;
  border: solid rgb(231, 150, 27) 1px;
  display: flex;
}
/* .content {
} */
.h4 {
  color: #000538;
  font-weight: 600;
  font-size: 2rem;
}
.p {
  font-size: 1rem;
  color: #6e7191;
  text-align: left;
}
