.div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    padding: 0 50px;
    
  }
  .divLink{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%; 
    font-size: 100%;
 
  }

  /* .h2SERVICEdesplegable{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 10px;
    
    position: relative;
    width: 281px;
    height: 432px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 48px 58px rgba(0, 0, 0, 0.18), 0px 18.4889px 18.4741px rgba(0, 0, 0, 0.109333), 0px 3.91111px 4.72593px rgba(0, 0, 0, 0.0706667);    
  }

  .prueba{

  } */

  h4{
    width: 80%;
    font-weight:500;
    margin:3%;
    cursor: pointer;

  }

  .btn{

    background: #6F4EF5;
    border-radius: 4px;
    width: 200px;
    height: 54px;
    border: none;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .btn:hover{
    background: #A493FF;
    transition: 1s;
  }
  
  
  
  .img{
      width: 50%;
      margin-right: 115px;

  }

  .Hamburguesa{
    display: none;
  }

  .divLink2{
    display: none !important;
  
   }

   .DIVservices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;   
    gap: 16px;

   }

   .h4servicer{
    color: #000538;
    padding: 4px;

   }

   .h4Nav{
    position: relative;
    right: 100px;

   }

   
@media screen and (max-width:1000px) {
 
  .h4Nav{
    position: relative;
    right: 140px;
    margin: 0%;
    font-size: 13px;
   }
 
}  


  @media screen and (max-width:800px) {
  .div{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      margin-top: 10px;
    }

  .img{
      width: 200px;
      margin-right: 0%;
      position: relative;
      margin-right: 0px;
      margin-left: 0px;
  } 

  .btn{
    display: none;
   }

   .divLink{
    display: none;
  }


  .divLink2{
    display: flex !important;
    text-align: left;
    width: 100%; 
    font-size: 100%;
    flex-direction: column;
    position: absolute;
    height: 42vh;
    top: 100px;
    z-index: 200;
    background-color: white;
    left: 0;
  }


  .Hamburguesa {
    display: flex !important;
    flex-direction: column;
    margin: 5px;
    position: absolute;
    left: 86%;
    top: 45px;
    cursor: pointer;
    width: 30px;
  }

  .Hamburguesa span {
    width: 22px;
    height: 2px;
    background-color: rgb(3, 3, 3);
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

.arrowUp{
  margin-left: 4px;
  position: relative;
}

.arrowUp i{
  position: absolute;
  top: -1px;
  font-size: 25px;
}
}  




@media screen and (max-width:500px) {
 
  .img{
    width: 200px;
    margin-right: 0%;
    position: relative;
    right: 20%;
}
}  