.div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    padding: 0 50px;
  }
  .divLink{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%; 
    height: 50px;
    font-size: 18px;    
    position: relative;
    right: 8.5%;
  }

  .menuhorizontal{
    display: flex;
    justify-content: space-between;
    text-align: center;
  
  }

  .menuhorizontal li {
    color: #000538;
    width: 110px;
    font-weight: 400;
    font-size: 18px;
    list-style: none;
    margin: 0px;
    cursor:pointer;
    
  }

  
  .menuhorizontal li p:hover{
    background-color: #EAE5FF;
  }

  .menuhorizontal li:hover .menuVerical{
    display: block;
  }

  .menuVerical{
    position: absolute;
    margin-left: -60px;
    margin-top: 0px;
    display: none;
    line-height: 20px;
    list-style: none;
    width: 230px;
    background-color: #FFFFFF;
    z-index: 100;
    box-shadow: 0px 48px 58px rgba(0, 0, 0, 0.18), 0px 18.4889px 18.4741px rgba(0, 0, 0, 0.109333), 0px 3.91111px 4.72593px rgba(0, 0, 0, 0.0706667);
    border-radius: 0px 0px 8px 8px; 
    
  }

  .menuVerical li{
    margin: 0px;
    position: relative;
    left: -15px;
    font-size: 16px;
    text-align: left;
    width: 90%;
    padding: 8px;
  }


  .menuVerical li:hover{
    background-color: #EAE5FF;
    padding: 8px;
    
    
  }
 

  .btn{

    background: #6F4EF5;
    border-radius: 4px;
    width: 200px;
    height: 54px;
    border: none;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .btn:hover{
    background: #A493FF;
    transition: 1s;
  }
  
  
  
  .img{
      width: 50%;
      margin-right: 115px;
      margin-top: 6px;

  }

  .Hamburguesa{
    display: none;
  }

  .divLink2{
    display: none !important;
  
   }

   .DIVservices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;   
    background-color:#EFEFEF; 
    margin-left: 10px;
   }



   .h4Nav{
    position: relative;
    right: 10px;

   }








   .AgendarReunionBTN {
    background: #00aeff;
    border: 2px solid #00aeff;
    padding: 16px;
    gap: 9px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 5px;
    font-size: 18px;
    position: fixed;
    left: 23px;
  
    bottom: 0;
    margin-bottom: 25px;
    z-index: 800;
    cursor: pointer;
  }

  .btnWSP {
    width: 72px;
    height: 72px;
    background-image: url("./assets/wsp.png");
    background-size: cover;
    border-radius: 90px;
    position: fixed;
    right: 30px;
    z-index: 800;
    border: none;
    cursor: pointer;
    bottom: 0;
    margin-bottom: 20px;
  }
  
  

   @media screen and (max-width:1200px) {
 
    .menuhorizontal li{
      font-size: 15px;
    }

    .divLink{
      right: 11%;
    }
   
  } 



    


  @media screen and (max-width:950px) {
  .div{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      margin-top: 10px;
    }

  .img{
      width: 200px;
      margin-right: 0%;
      position: relative;
      margin-right: 0px;
      margin-left: 0px;
  } 

  .btn{
    display: none;
   }

   .divLink{
    display: none;
  }


  .divLink2{
    display: flex !important;
    text-align: left;
    width: 100%; 
    font-size: 100%;
    flex-direction: column;
    position: absolute;
    top: 100px;
    z-index: 200;
    background-color: white;
    left: 0;
  }

  .divLink2 h4{
   position: relative;
   left: 40px;
   width: 200px;
   font-weight: 400;
   font-size: 16px;
 }

  .h4servicer{
  color: #000538;
  padding: 0px;
  font-weight: 400;
  font-size: 16px;
  width: 230px !important;
 }


  .Hamburguesa {
    display: flex !important;
    flex-direction: column;
    margin: 5px;
    position: absolute;
    left: 86%;
    top: 45px;
    cursor: pointer;
    width: 30px;
  }

  .Hamburguesa span {
    width: 22px;
    height: 2px;
    background-color: rgb(3, 3, 3);
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

.arrowUp{
  margin-left: 4px;
  position: relative;
}

.arrowUp i{
  position: absolute;
  top: -1px;
  font-size: 25px;
}

.AgendarReunionBTN {
  background: #00aeff;
  padding: 16px;
  gap: 9px;
  margin-bottom: 0px;
  left: 0px;
  z-index: 100000000;
  cursor: pointer;

  width: 100%;
  border-radius: 0px ;
}

.btnWSP {
  position: fixed;
  right:10px;
  z-index: 100000000;
  bottom: 0;
  width: 55px;
  height: 55px;
  margin-bottom: 65px;
}

}  




@media screen and (max-width:500px) {
 
  .img{
    width: 200px;
    margin-right: 0%;
    position: relative;
    right: 20%;
}
}  