@import "../../styles/styles.scss";

.Navbar {
  height: 70px;
  @include flex-row-around;
  background-color: $white;
  @include responsive("phone") {
    position: absolute;
  }
}
.logo {
  width: 60%;
  @include responsive("tab-port") {
    width: 100%;
  }
  @include responsive("phone") {
    width: 60%;
  }
}
.Navbar > .nav-logo {
  font-weight: 700;
  font-size: 16px;
  font-weight: 400;
  margin: 15px;
}

.nav-logo {
  color: white;
  font-size: 18px;
  padding-left: 10px;
}
.Navbar > .nav-items > .color-specified {
  font-size: 16px;
  margin-right: 40px;
  text-decoration: none;
  @include responsive("tab-port") {
    margin-right: 20px;
  }
  @include responsive("phone") {
    padding-left: 10px;
  }
}
a {
  text-decoration: none;
  font-size: 20px !important;
  color: black !important;
}

.Navbar > .nav-toggle {
  display: none;
}

.button-test {
  background: #6f4ef5;
  border: none;
  padding: 15px 24px;
  color: white;
  border-radius: 4px;
  @include responsive("tab-land") {
    padding: 0 18px;
  }
  @include responsive("phone") {
    margin-left: 10px;
    padding: 15px 24px;
  }
}

@media (max-width: 700px) {
  a {
    font-size: 30px !important;
  }

  .Navbar > .nav-items {
    position: absolute;
    top: 60px;
    background-color: white;
    padding-bottom: 600px;
    @include flex-column-start2;
    left: 0;
    width: 100%;
    z-index: 30000000;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.45s;
  }

  .Navbar > .nav-items2 {
    position: absolute;
    top: 60px;
    @include flex-column-start2;
    left: 0;
    width: 100%;
    z-index: 30000000;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.45s;
  }

  .Navbar > .nav-items.open {
    transform: translateX(0);
  }

  .Navbar > .nav-items2.open {
    top: 300px;
    transform: translateX(0);
  }

  .Navbar > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background-color: #000538;
  }

  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #000538;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before {
    width: 32px;
    transform: translateY(-8px);
    right: 0;
  }
  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }
  .nav-toggle.open > .bar {
    transform: translateX(-40px);
    background: transparent;
  }
  .nav-toggle.open > .bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }
  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }
}
