@import "../../../styles/styles.scss";

.div{
    height: 241px;
    width: 100%;
    background-color: #F7F7FC;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include responsive("carrousel") {
        height: 336px;
        flex-direction: column;
      }
}



.divh2{
    width: 37%;
    height: 53px;

    @include responsive("carrousel") {
       position: relative;
       top: 56px;
       width: 330px;
       text-align: center;
       
      }

}

.divh2 h2{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    position: relative;
    bottom: 20px;

    @include responsive("carrousel") {
        font-size: 18px;
        line-height: 27px;
       }
}



.divLogos{
    width: 45%;
    height: 53px;
    display: flex;
    position: relative;
    left: 10px;
    justify-content: space-evenly;


    @include responsive("carrousel") {
        // left: 0px;
        // top: -13px;
        // width: 100%; 
        display: none;
       }
}

.divLogos img{
    width: 76.48px;
    height: 76.48px;
    position: relative;
    top: -15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 122.108px;
    cursor: pointer;
@media (max-width: 900px) {
           width: 66.48px;
           height: 76.48px;
        }
    @include responsive("carrousel") {
        width: 60.69px;
        height: 60.69px;
       }
       
    }


.divLogos img:hover{
    width: 60.48px;
    height: 60.48px;
    transition: 1s;
}





//////////////////////slider responsive///////////////////


.slider{
    display: none;
    @media (max-width: 800px) {
            width: 100%;
            height: auto;
            margin: auto;
            overflow: hidden;
            display: flex;    
            position: relative;
            top: 100px;      
 }
}


.slider .slidetrack {
    display: flex;

    height: 200px;
    animation: scroll 9s linear infinite;
    -webkit-animation: scroll 9s linear infinite;
    width: calc(90px * 12);
}

.slider .slide {
    width: 60px;
    margin: 0px 15px;
}

.slider .slide img{
    width: 60px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}



@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-90px * 6));
        transform: translateX(calc(-90px * 6));
    }
}























