@import "../../../styles/styles.scss";

.ns-containerPadre {
    padding: 72px 70px;
    background-color: #EFF0F6;

    @include responsive("Laptop") {
        padding: 72px 35px;
    }

    @include responsive("Tablet") {
        padding: 56px 24px;
    }

    @include responsive("phone-L") {
        padding: 56px 0 56px 24px;
    }

    .ns-containerHijo {
        display: flex;
        flex-direction: column;
        /* gap: 56px; */
        position: relative;

        @include responsive("Tablet") {
            gap: 0;
        }

        h3 {
            font-size: 32px;
            font-weight: 600;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: left;

            width: 600px;
            margin: 0;
            color: #000538;

            @include responsive("Tablet") {
                width: 100%;
            }
        }

        .ns-p {
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
            width: 373px;
            margin: 16px 0 61px 0;

            @include responsive("Tablet"){
                margin: 24px 0 45px 0;
                width: 100%;
            }
        }

        .ns-button-navegation {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            position: absolute;
            top: 55px;
            right: 16px;

            @include responsive("Tablet") {
                display: none;
            }
        }

        .ns-button-navegation i {
            @include flex-column-center;
            color: #6f4ef5;
            font-size: 24px;
        }

        .ns-button-navegation button {
            width: 48px;
            height: 48px;
            cursor: pointer;
            border-radius: 4px;
            margin-left: 16px;
            transition-duration: 0.4s;
        }

        .none {
            border: 1px solid #6f4ef5;
            background-color: #EFF0F6;
        }

        .active {
            border: 1px solid #6f4ef5;
            background-color: #6f4ef5;

            i {
                color: #ffff;
            }
        }

        .btn-agendar {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;

            width: 237px;
            height: 64px;
            background: #6F4EF5;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            margin: 0 auto;
            margin-top: 56px;

            @include responsive("Laptop") {
                margin-bottom: 0;
            }

            @include responsive("Tablet") {
                width: 35%;
                margin-top: 0;
            }

            @include responsive("phone-L") {
                width: 224px;
                height: 54px;
                margin: 0 auto;
            }
        }

        .btn-agendar:hover {
            background: #A493FF;
            transition: 1s;
        }
    }
}

.ns-carousel-container {
    display: flex;
    flex-direction: column;
}

.ns-cardContainer {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    width: 308px;
    height: 362px;
    margin: 0;
    background: #FFFFFF;
    border: 1px solid #DCDDEB;

    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06), 0px 2.4px 3.9px rgba(0, 0, 0, 0.03);

    img {
        width: 100%;
    }

    div {
        display: flex;
        flex-direction: column;
        width: 308px;
        gap: 16px;
        width: 260px;
        margin-top: 16px;



        h4 {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0;
            color: #000538;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0;
            color: #000538;
        }
    }
}

.ns-carousel-pagination {
    display: none;

    @include responsive("Tablet") {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 32px 0 40px 0;
    }

    .swiper-pagination-bullet {
        background-color: #DCDDEB;
        height: 10px;
        width: 10px;
        margin-right: 6px;
        opacity: 0.5;
        cursor: pointer;
        border-radius: 100%;
    }

    .swiper-pagination-bullet-active {
        background-color: #6F4EF5;
        opacity: 1;
    }
}