@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&family=Inter:wght@400;600;700&display=swap");

$white: #ffffff;
$background-gray: #f7f7fc;
$background-blue: #090e28;
$background-purple: #000538;
$button-purple: #6f4ef5;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-column-around {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@mixin flex-column-start2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}
@mixin flex-column-start-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-row-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@mixin flex-row-around {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@mixin flex-100 {
  display: flex;
  width: 100%;
}
@mixin transition {
  transition: all ease 0.5s;
}
@mixin card {
  border: none;
  padding: 20px;
  border-radius: 0.375rem;
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
}

@mixin shadow {
  box-shadow: 1px 1px 8px #000;
}

@mixin responsive($device) {
  @if $device == phone {
    @media screen and (max-width: 23.5em /*  375px */) {
      @content;
    }
  }
  @if $device == tablet {
    @media screen and (max-width: 45.063em /* 720px */) {
      @content;
    }
  }
  @if $device == laptop {
    @media screen and (max-width: 64.063em /* 1024px */) {
      @content;
    }
  }
}

@mixin box-shadow-general {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin box-shadow-float {
  filter: drop-shadow(0px 48px 58px rgba(0, 0, 0, 0.18))
    drop-shadow(0px 18.4889px 18.4741px rgba(0, 0, 0, 0.109333))
    drop-shadow(0px 3.91111px 4.72593px rgba(0, 0, 0, 0.0706667));
}
@mixin floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }
}
